:root {
    --brand-color: #20C997;
    --brand-hover: #19a179;
}

/* =========================
   GLOBAL CARD HEADER BRAND
========================= */

.bg-brand {
    background-color: var(--brand-color) !important;
    color: #fff !important;
}

.card-header .card-title {
    color: #fff;
    
}

/* icon di header */
.card-header i {
    color: #fff;

}

.card-header{
    background-color: var(--brand-color) !important;
    border-bottom: 1px solid var(--ring);
}


.avatar-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--brand-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}
.note-editor .note-editable ul,
        .note-editor .note-editable ol {
        padding-left: 1.5rem;
        margin-left: 0;
        list-style-position: outside;
        }

        .note-editor .note-editable li {
        margin-left: 0;
        }

        .summernote-content ul,
        .summernote-content ol {
        padding-left: 1.5rem;
        list-style-position: outside;
        }

        .summernote-content p {
        text-indent: 0;
        margin-left: 0;
        padding-left: 0;
        }

        .article-content img {
        max-width: 100%;
        }