        .note-editor .note-editable ul,
        .note-editor .note-editable ol {
        padding-left: 1.5rem;
        margin-left: 0;
        list-style-position: outside;
        }

        .note-editor .note-editable li {
        margin-left: 0;
        }

        .summernote-content ul,
        .summernote-content ol {
        padding-left: 1.5rem;
        list-style-position: outside;
        }

        .summernote-content p {
        text-indent: 0;
        margin-left: 0;
        padding-left: 0;
        }